/* Custom Fonts */
@font-face {
  font-family: Rubik;
  src: url("/public/Fonts/Rubik-Regular.ttf");
  font-weight: 200;
}
@font-face {
  font-family: Rubik;
  src: url("/public/Fonts/Rubik-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Rubik;
  src: url("/public/Fonts/Rubik-SemiBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: Rubik;
  src: url("/public/Fonts/Rubik-Light.ttf");
  font-weight: 100;
}
/* Custom Fonts */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #191b1f;
}

.icon-btn:hover {
  transition: all 0.3s !important;
  background-color: #bcbec2 !important;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}

.todo-card:hover {
  transition: all 0.3s;
  padding-bottom: 20px;
  padding-top: 20px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}
